@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/filter";
@import "compass/css3/transform";
@import "foundation_and_overrides";

$bio-background-color: $primary-color;
$bio-foreground-color: #000;
$profile-image-size: 200px;
$featured-content-header-font-size: 1.6em;
$project-screenshot-left-margin: -22px;


.image { 
  background: url(../images/keyboard.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.image_row{
  background: rgba(130,183,190,0.82);
  overflow: hidden;
  height: 400px;
  z-index: 2;
  border-bottom: 5px solid rgba(0,0,0,0.1);
  margin-bottom: 50px;
  text-align: center;
}

.main {
  margin-top: 60px;
}

.section-heading {
  text-align: center;
  font-size: 10px;
}

.section-row {
  margin-bottom: 30px;
  display: block;
}

h2.strike::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 2px solid #E6EBEF;
  width: 100%;
  height: 0;
  z-index: 1;
  top: 20px;
  left: 0;
}

h2.strike span {
  background: #fff;
  padding: 0 18px;
  position: relative;
  z-index: 2;
}

h2.strike2::after {
  content: "";
  display: block;
  position: relative;
  border-top: 2px solid #E6EBEF;
  width: 100%;
  height: 0;
  z-index: 1;
  bottom: 17px;
  left: 0;
}

h2.strike2 span {
  background: #fff;
  padding: 0 18px;
  position: relative;
  z-index: 2;
}

.project_name {
  text-align: center;
}

.project_image {
  height: 180px;
  width: 294px;
}

.blog_row {
  position: relative;
  top: 45px;
  overflow: auto;
  margin-bottom: 60px;
}

nav {
  box-shadow:  0 0px 6px -6px black;
  margin: 0 !important;
}

nav.top_bar.fixed {
  margin: 0 !important;
}

.main_title {
  color: white;
  margin-top: 125px;
}

.text_holder {
  width: 80%;
  margin: auto;
}

.skill_holder {
  width: 55%;
  margin: auto;
  color: white;
}

.projects_row {
  overflow: auto;
  margin-bottom: 0;
}




