.position_title {
	font-weight: bold;
	font-size: 120%;
}

.education {
	background: lightgray;
	width: 100%;
	padding: 20px 20px 30px 47px;
	margin-bottom: 15px;
}

.my_container {
	margin-left: 47px;
	margin-right: 47px;
}