---
title: Resume
---

<div class="portfolio_image">
  <div class="portfolio_image_row">
    <div class="text_holder">
      <h1 class="portfolio_title">My Resume</h1>
    </div>
  </div>
</div>

<br />
<br />

<div class="my_container">

	<span>
		<a href='mailto:judesamp@gmail.com?subject=Touching%20Base'>judesamp@gmail.com  |</a>
	</span>

	<span>
		<a href='tel:478-365-6913'>478-365-6913  |</a>
	</span>
		
	<span>
		<a>Atlanta, Georgia</a>
	</span>

</div>

<br />
<br />

<div class="my_container">

	<h4>OBJECTIVE:</h4>
	<p>A full-time position as a web developer where I can employ, expand, and deepen my present skillset</p>
	
	<h4>TECH SKILLS</h4>

	<table>
		<tr>
			<td>
				Ruby on Rails
			</td>
			<td>
				JavaScript
			</td>
			<td>
				Git
			</td>
			<td>
				GitHub
			</td>
		</tr>

		<tr>
			<td>
				HTML
			</td>
			<td>
				CSS
			</td>
			<td>
				Ruby
			</td>
			<td>
				Sinatra
			</td>
		</tr>

		<tr>
			<td>
				jQuery
			</td>
			<td>
				CoffeeScript
			</td>
			<td>
				Ember.js
			</td>
			<td>
				Capybara testing
			</td>
		</tr>
	</table>

	<h4>BUSINESS AND CONTENT MANAGEMENT SKILLS</h4>

	<table>
		<tr>
			<td>
				Project Management (conception to delivery)
			</td>
			<td>
				Blogging
		</tr>

		<tr>
			<td>
				Editing / Proofreading
			</td>
			<td>
				Online Writing and Marketing
			</td>
		</tr>

		<tr>
			<td>
				Publishing
			</td>
			<td>
				Research and Fact-checking
			</td>
		</tr>

		<tr>
			<td>
				Instructional Writing
			</td>
			<td>
				Writer Management
			</td>
		</tr>

	</table>
</div>


	<div class="education">
		<h4>EDUCATION</h4>

		<p>
			RUBY ON RAILS BOOTCAMP with THE IRON YARD—Atlanta, GA (March 2014 to June 2014)
		</p>

		<p>
			WEB DEVELOPMENT APPRENTICESHIP with WEBSUASION—Fayetteville, GA (2012 to present)
		</p>

		<p>
			GEORGIA COLLEGE & STATE UNIVERSITY—Milledgeville, GA
		    MFA in Creative Writing, 2010
		</p>

		<p>
		  CANDLER SCHOOL OF THEOLOGY at EMORY UNIVERSITY—Atlanta, GA 
		    Master of Theological Studies, 1998
		</p>

		<p>
		  SHORTER COLLEGE—Rome, GA
		    BA in Religion / Philosophy, 1996
		</p>
	</div>

<div class="my_container">
	<h4>PROFESSIONAL EXPERIENCE</h4>
	<table>
		<h5>Smyth & Hewlys Publishing (2001–2014)</h5>

		<tr>
			<td>
				<h6 class="position_title">Developer for <i>Family Faith Steps 1</i></h6>
			</td>
			<td>
				<span>2013 to 2014</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Acted as lead developer in creating an iOS app called Family Faith Steps 1.</p>
			</td>
			<td>
			</td>
		</tr>

		<tr>
			<td>
				<h6 class="position_title">Editor, Project Manager for <i>Reflections</i></h6>
			</td>
			<td>
				<span>2004 to 2014</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Oversaw entire production process, from writer assignment and management to primary edit, design, and preparation for printing.</p>
			</td>
			<td>
			</td>
		</tr>


		<tr>
			<td>
				<h6 class="position_title">Editor, Writer, Tech Support for <i>Caleb's Cafe</i></h6>
			</td>
			<td>
				<span>2007 to 2012</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Acted as editor, columnist, and tech support for this online social network for church groups. Also intimately involved in its design and creation.</p>
			</td>
			<td>
			</td>
		</tr>


		<tr>
			<td>
				<h6 class="position_title">Book Series Project Manager for NextSunday Studies</h6>
			</td>
			<td>
				<span>2009 to 2014</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Project manager for getting these short book studies to press.</p>
			</td>
			<td>
			</td>
		</tr>


		<tr>
			<td>
				<h6 class="position_title">Project Manager, Writer, Editor for <i>Intersection</i></h6>
			</td>
			<td>
				<span>2009 to 2014</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Oversaw entire production process, from collection of content to design and preparation for printing. Also wrote a weekly online companion column to go with each lesson.</p>
			</td>
			<td>
			</td>
		</tr>


		<tr>
			<td>
				<h6 class="position_title">Editor for <i>FaithSteps</i></h6>
			</td>
			<td>
				<span>2001 to 2004</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Served as editor and project manager for this dated curriculum piece.</p>
			</td>
			<td>
			</td>
		</tr>

	</table>
</div>


<br />
<br />